/* Our default values set as CSS variables */
:root {
  --white: #fff;
  --color-text-primary: #828282;
  --color-text-secondary: #333333;
  --color-primary: #FDC435;
}

.btn {
  border-radius: 2px;
  padding: 8px 12px;
  color: var(--color-primary);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card {
  max-width: 400px;
  border-radius: 12px;
  border: none;
  padding: 48px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}


.slides {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

h1.title {
  color: #fdc134 !important;
  font-size: 1.6em !important;
  line-height: 1.6em !important;
}

.front {
  height: 300px;
  width: 250px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.thumbnail {
  margin: 0 0 48px;
}

.title {
  margin: 0 0 12px;
  color: #fdc134;
  font-size: 24px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.description {
  margin: 0 0 48px;
  text-align: justify;
}

.card-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -12px -12px;
}
[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}

[ripple] .ripple {
  position: absolute;
  /*background: #FFFFFF;*/
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: ripple 2s;
  animation: ripple 2s;
}
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
    transform: scale(20);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
    transform: scale(20);
    opacity: 0;
  }
}
